In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import time
import datetime
import sys

In [4]:
sns.set_style("whitegrid")

data = np.zeros((100, 3))

# theTime = np.linspace(0, 10, 1001)

df = pd.DataFrame(data, columns = ['Time', 'Distance', 'Force'])

print(len(df['Time']))
df.head()

   Time  Distance  Force
0   0.0       0.0    0.0
1   0.0       0.0    0.0
2   0.0       0.0    0.0
3   0.0       0.0    0.0
4   0.0       0.0    0.0